:root {
    --primary-color: #56156f;
    --accent-color: #a818b5;
    --bg-light: #eeeeeec9;
    --bg-dark: #290627f7;
    --text-main: #2c2c2c;
    --text-light: #fff;
    --text-hover: #a4a4a4;
}

body {
    background-color: var(--bg-light);
    color: var(--text-main);
    font-family: sans-serif;
    align-items: center;
    line-height: 1.6;
    margin: 0;
    padding: 1rem;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 { color: var(--primary-color); }
h2, h3 { color: var(--accent-color); }

p { color: var(--text-main); }

header, nav {
    display: flex;
    flex-direction: column; 
    padding: 10px;
    background-color: var(--bg-dark);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

nav ul li { 
    margin-right: 0; 
}

ul {
     float: right;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

a:hover {
    color: var(--text-hover);
}

.btn {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--accent-color);
    color: var(--text-main);
}

.input {
    width: fit-content;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
}

/* Media Queries */
/* Tablet: */
@media (min-width: 481px) {
    .cart li {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .dashboard {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Desktop: */
@media (min-width: 769px) {
    header, nav {
        flex-direction: row;
        justify-content: space-between;
    }

    nav ul {
        flex-direction: row;
        gap: 1rem;
    }

    .product-list {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
    }

    aside.filter {
        width: 25%;
        float: left;
        margin: 0;
    }

    .product-list {
        width: 75%;
        float: right;
    }

    .checkout-container {
        flex-direction: row;
    }

    .checkout-container .shipping-address {
        flex: 2;
    }

    .checkout-container .order-sum {
        flex: 1;
    }
}