:root {
    --primary-color: #56156f;
    --accent-color: #a818b5;
    --bg-light: #eeeeeec9;
    --bg-dark: #290627f7;
    --text-main: #2c2c2c;
    --text-light: #fff;
    --text-hover: #a4a4a4;
}

.cart ul {
    padding: 0;
}

.cart li {
    display: flex;
    flex-direction: column; /* mobile */
    background-color: var(--bg-dark);
    color: var(--text-light);
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 1rem;
}

.cart-img img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-dtls ul {
    list-style: none;
    padding: 0;
}

input[type="number"] {
    width: 50px;
}

#price1 {
    color: var(--text-light);
}

.subtotal {
    border: solid;
    border-radius: 10px;
    padding: 10px;
}

.cart {
    justify-self: center;
}

div.product-dtls {
    float: right;
    padding: 10px;
}

div::after{
    content: "";
    display: block;
    clear: both;
}

input[type="number"] {
    width: 50px;
    font-size: 14px;
}

.checkout-btn {
    float: right;
    margin-top: 4%;
}