:root {
    --primary-color: #56156f;
    --accent-color: #a818b5;
    --bg-light: #eeeeeec9;
    --bg-dark: #290627f7;
    --text-main: #2c2c2c;
    --text-light: #fff;
    --text-hover: #a4a4a4;
}

header, nav {
    display: flex;
    flex-direction: column; 
    background-color: var(--bg-dark);
}

nav {
    background-color: var(--bg-dark);
    max-width: 100rem;
}

nav, ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: var(--accent-color);

}

a:hover {
    color: var(--text-hover)
}

.hero {
    border: solid;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero p { margin: 0.5rem 0; }

.products {
    border: solid;
    padding: 10px;
    border-radius: 8px 30px;
}

.discounted-products {
    border: solid;
    padding: 10px;
    border-radius: 8px 30px;
}

section {
    margin: 20px 0;
}

h2 {
    float: left;
}

ul {
    float: right;
}