:root {
    --primary-color: #56156f;
    --accent-color: #a818b5;
    --bg-light: #eeeeeec9;
    --bg-dark: #290627f7;
    --text-main: #2c2c2c;
    --text-light: #fff;
    --text-hover: #a4a4a4;
}

.sg-card {
    border: solid, 2px;
    border-radius: 10px;
    padding: 15px;
    padding-top: 3%;;
    width: 45vh;
    margin-left: 28rem;
}

#sg-btn {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 10px;
    border-radius: 10px;
    width: 50vh;
    justify-content: space-between;
    align-items: center;
}

.signup1 {
    margin-left: 29rem;
}

.signup2 {
    margin-left: 28rem;
}