:root {
    --primary-color: #56156f;
    --accent-color: #a818b5;
    --bg-light: #eeeeeec9;
    --bg-dark: #290627f7;
    --text-main: #2c2c2c;
    --text-light: #fff;
    --text-hover: #a4a4a4;
}

body {
    background-color: var(--bg-light);
    color: var(text-main);
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 1rem;
}

h1 { 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--primary-color); 
}

h2 {
    color: var(--accent-color);
    font-weight: bold;
}

h3 {
    color: var(--accent-color);
    font-weight: bold;
}

p {
    color: var(--text-main);
}

nav {
    background-color: var(--bg-dark);
    max-width: 100rem;
    padding: 10px;;
}

nav ul, ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: var(--accent-color);

}

a:hover {
    color: var(--text-hover)
}

.hero {
    border: solid;
    padding: 10px;
    border-radius: 10px;
}

.hero p {
    display: inline-block;
    margin-right: 407px;
}

.products {
    border: solid;
    padding: 10px;
    border-radius: 8px 30px;
}

.discounted-products {
    border: solid;
    padding: 10px;
    border-radius: 8px 30px;
}

section {
    margin: 20px 0;
}

.btn {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 10px;
    border-radius: 10px;
}

.btn:hover {
    background-color: var(--accent-color);
    color: var(--text-main)
}

article {
    background-color: var(--bg-dark);
    padding: 10px;
    border: solid, 5px;
    border-color: #1d1d1d1f;
    border-radius: 10px 25px;
}

article img {
    width: 30vh;
    height: 30vh;
    border-radius: 5px;
}

#price1 {
    color: var(--text-light);
}

.product-list {
    width: 70%;
    float: left;
}
aside.filter {
    width: 25%;
    margin-top: 8%;
    float: right;
    border: solid;
    border-radius: 10px;
    padding: 10px;
}

main::after{
    content: "";
    display: block;
    clear: both;
}

.product-details {
    background-color: var(--bg-dark);
    color: var(--text-light);
    padding: 10px;
    border: solid, 5px;
    border-color: #1d1d1d1f;
    border-radius: 30px 10px;
}

.table1 {
    width: 70%;
    float: left;
}
form.quantity {
    margin-top: 2%;
    float: right;
    padding: 10px;
}

div::after{
    content: "";
    display: block;
    clear: both;
}

table {
    width: 30rem;
    border: solid;
    border-color: var(--text-hover);
    border-radius: 10px;
}

th {
    color: var(--accent-color);
}

.user-review {
    border: solid;
    border-radius: 10px;
    padding: 10px;
}


.shipping-address {
    background-color: var(--bg-dark);
    color: var(--text-light);
    padding: 10px;
    border: solid, 5px;
    border-color: #1d1d1d1f;
    border-radius: 10px;
}

.payment {
    border: solid;
    padding: 10px;
    border-radius: 8px 50px;
    padding: 20px;
}

.order-sum {
    border: solid;
    padding: 10px;
    border: 10px;;
}

.cart {
    background-color: var(--bg-dark);
    color: var(--text-light);
    padding: 10px;
    border: solid, 5px;
    border-color: #1d1d1d1f;
    border-radius: 30px 10px;
    justify-content: space-evenly;
}

.cart img {
    width: 30vh;
    height: 30vh;
    border-radius: 5px;
}

#price1 {
    color: var(--text-light);
}

.subtotal {
    border: solid;
    border-radius: 10px;
    padding: 10px;
}

.cart-img {
    float: left;
}
div.product-dtls {
    float: right;
    padding: 10px;
}

div::after{
    content: "";
    display: block;
    clear: both;
}

input[type="number"] {
    width: 50px;
    font-size: 14px;
}

.checkout-btn {
    float: right;
}

.sg-card {
    border: solid, 2px;
    border-radius: 10px;
    padding: 15px;
    padding-top: 3%;;
    width: 45vh;
    margin-left: 28rem;
}

#sg-btn {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 10px;
    border-radius: 10px;
    width: 50vh;
    justify-content: space-between;
    align-items: center;
}

.signup1 {
    margin-left: 29rem;
}

.signup2 {
    margin-left: 28rem;
}

account-header {
    text-align: center;
    padding: 20px;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    gap: 20px;
}

.card {
    background-color: var(--bg-dark);
    color: var(--bg-light);
    flex: 1;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.card h3 {
    margin-bottom: 10px;
}

.order-card {
    background-color: var(--bg-light);
    color: var(--text-main);
    padding: 15px;
    border-radius: 15px;
    border-color: var(--bg-dark);
    margin-bottom: 15px;
}

details summary {
    cursor: pointer;
    font-weight: bold;
}

#font-white {
    color: var(--text-light);
}