:root {
    --primary-color: #56156f;
    --accent-color: #a818b5;
    --bg-light: #eeeeeec9;
    --bg-dark: #290627f7;
    --text-main: #2c2c2c;
    --text-light: #fff;
    --text-hover: #a4a4a4;
}

body {
    padding: 2rem;
}

/* BACK BUTTON */
.back-btn {
    margin-left: 7.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--text-light);
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: bold;
    transition: background 0.3s ease;
    float: right;
}

.back-btn:hover {
    background-color: var(--bg-dark);
}

h2 {
    padding: .5rem;
    margin-bottom: 2rem;
    border-bottom: solid 2px rgba(248, 248, 255, 0.696);
}

.product-details {
    background-color: var(--bg-dark);
    color: var(--text-light);
    padding: 2rem;
    border-radius: 4rem 1rem;
    animation: fadeIn 0.8s ease forwards
}

/* responsive image */
.product-details img {
    max-width: 100%;
    height: auto;
}

/* TABLE CONTAINER */
.table1 {
    overflow-x: auto;
    width: 100%;
    padding-bottom: 2rem;
    border-bottom: solid 1.5px rgb(201, 201, 202);
}

.table1 table {
    width: 70%;
}

/* KEEP quantity at right side */
.quantity {
    margin-top: 2%;
    padding: .5rem;
    float: right;
    display: flex;
    align-items: center;
    gap: .5rem;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 0.8rem;
    border: 1px solid var(--text-hover);
}

/* USER REVIEW */
.user-review {
    border: solid;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 2rem;
}

#user-rw {
    border-bottom: solid 2px rgba(42, 42, 42, 0.696);
    margin-bottom: 1rem;
}

/* clearfix */
div::after{
    content: "";
    display: block;
    clear: both;
}

/* -------- RESPONSIVE -------- */

/* tablet */
@media (max-width: 768px) {

    .table1 {
        width: 100%;
    }

    .quantity {
        float: none;
        justify-content: flex-end;
        width: 100%;
        margin-top: 1rem;
    }
}

/* mobile */
@media (max-width: 480px) {

    .product-details {
        padding: 1.5rem;
        border-radius: 2rem 1rem;
    }

    th, td {
        font-size: 0.9rem;
        padding: 0.6rem;
    }

    .quantity {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}